.discount{
  height: 179px;
  text-align: center;
  font-size: 30px;
  font-family: 'baufra';
  width: 100%;
  margin: 10px auto;
  min-width: 1024px;
  max-width: 1400px;
  overflow: hidden;
  position: relative;
  background-color: #f1edea;
}
.discount__title{
  margin: 0 auto;
  text-align: center;
}
.discount__title__years{
  margin: 10px auto;
  text-align: center;
  font-size: 28px;
  font-family: 'Oldsman';
}
.discount__title__years__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 11px;
  line-height: 25px;
  display: inline-block;
}
.discount__title__text{
  font-family: 'baufra';
  font-size: 28px;
  height: 65px;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  left: 17%;
  top: 42px;
  width: 70%;
}
.discount__title__middle_line{
  background-color: #000;
  width: 70%;
  height: 1px;
  margin-left: 70px;
  line-height: 25px;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.discount__image-left{
  position: absolute;
  height: auto;
  left: -29px;
  width: 358px;
  img{
    max-width: 100%;
  }
}
.discount__image-right{
  position: absolute;
  height: auto;
  right: 0px;
  top: -76px;
  width: 317px;
  img{
    max-width: 100%;
  }
}
.index_discounts-item-right-link {
  text-align: center;
  margin-top: 77px;
  a{
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'baufra';
    color:  #7c7c8a;
    font-size: 23.4px;
    border: 1px solid #7c7c8a;
    line-height: 50px;
    &:hover{
      color:  #13131c;
      border: 1px solid #13131c;
    }
  }
}
