.conditions{
  padding: 0 2%;
}
.conditions-title{
  margin-bottom: 90px;
  font-family: Baufra;
  color:  #13131c;
  font-size: 35px;
  line-height: 40px;
}
.conditions-items{}
.conditions-item{
  margin-bottom: 40px;
  overflow: hidden;
  .conditions-item-image{
    float: left;
    width: 13%;
    display: inline-block;
    img {
      max-width: 100%;
    }
  }
  .conditions-item-title{
    float: left;
    font-size: 25px;
    width: 13%;
    display: inline-block;
    font-family: Baufra;
    color:  #13131c;
    font-weight: 400;
    line-height: 29.966px;
    margin-top: 16px;
  }
  .conditions-item-description{
    float: left;
    width: 44%;
    display: inline-block;
    margin-top: 16px;
  }
}

