.conditions{
  padding: 0 2%;
}
.conditions-title{
  margin-bottom: 90px;
}
.conditions-items{}
.conditions-item{
  margin-bottom: 40px;
  overflow: hidden;
  .conditions-item-image{
    float: left;
    width: 13%;
    display: inline-block;
    img {
      max-width: 100%;
    }
  }
  .conditions-item-title{
    float: left;
    font-size: 25px;
    width: 13%;
    display: inline-block;
  }
  .conditions-item-description{
    float: left;
    width: 44%;
    display: inline-block;
  }
}

