.dress{
  padding: 0 2%;
}
.dress_main_image{
  float: left;
  margin-right: 2%;
}
.dress_list_images{
  float: left;
}
.dress_main_info{
  float: left;
  margin-left: 2%;
  width: calc(100% - 820px);
  h1{
    padding-top: 10px;
    font-family: 'Oldsman';
    color:  #48485d;
    font-size: 68px;
    line-height: 58px;
  }
}
.dress_main_info__size{
  font-family: 'baufra';
  color:  #48485d;
  font-size: 21.09px;
  line-height: 25px;
  a{
    color:  #9494a6;
    font-size: 16.09px;
  }
}
.dress_main_info__text{
  margin: 30px 0;
  font-family: 'Open Sans';
  color:  #8b8b9f;
  font-size: 16px;
  line-height: 25px;
}
.dress_main_info__price{
  font-family: 'baufra';
  color:  #13131c;
  font-size: 35px;
  margin-bottom: 20px;
}
.gray_button_link{
  color: #7c7c8a;
  border-color: #7c7c8a;
  &:hover{
    color: #ad9082;
    border-color: #ad9082;
  }
}

.small_dress_image:hover{
  opacity: 0.7;
  cursor: pointer;
}
.image_selected,
.image_selected:hover{
  opacity: 0.5;
}

/*-------------------dresses list ---------------------------*/
.dresses_list{
  padding: 0 2%;
  margin: 0 auto;
  text-align: center;
}
.dress_item{
  display: inline-block;
  position: relative;
  margin-bottom: 3.46%;
  width: 22.1%;
  img{
    width: 100%;
  }
  &:hover{
    img{
      opacity: 0.9;
    }
  }
}
.dress_item__info{
  position: absolute;
  bottom: 40px;
  color:  #48485d;
  left: 4%;
  width: 92%;
}
.dress_item__title{
  margin: 0 auto;
  text-align: center;
  font-family: 'Oldsman';
  font-size: 50px;
  line-height: 50px;
}
.dress_item__line{
  margin: 20px auto;
  background-color:  rgba(72, 72, 93, 0.3);
  width: 100px;
  height: 1px;
}
.dress_item__size{
  text-align: center;
  font-family: 'baufra';
  color:  #48485d;
  font-size: 21px;
}
.for_padding{
  margin-left: 3.46%;
}
/*-------------------end dresses list ---------------------------*/
