.conditions
  .conditions-title
    %h1 Условия покупки
  .conditions-items
    - @conditions.each do |condition|
      .conditions-item
        .conditions-item-image
          = image_tag condition.picture.url
        .conditions-item-title
          = condition.title
        .conditions-item-description
          = condition.description.html_safe
.clearfix
= render '/partials/footer_contacts'
