.footer_contacts
  .footer_container__title
    ПО ВСЕМ ВОПРОСАМ
  .footer_container__underline
  .footer_container__contacts
    .footer_phone
      8 (812) 272-55-84
    .footer_email
      shop@topaza-pella.ru
