.body__discount
  .body__discount__image-left
    = image_tag 'small_rose.png'
  .body__discount__title
    .body__discount__title__years
      .body__discount__title__years__middle_line
      TP
      .body__discount__title__years__middle_line
    .body__discount__title__text
      Посмотрите на все наши платья на основном сайте и приходите в главный салон.
    .index_discounts-item-right-link
      = link_to 'ПЕРЕЙТИ НА ОСНОВНОЙ САЙТ', 'http://topaza.lvl0nax.lclients.ru'
  .body__discount__image-right
    = image_tag 'big_rose.png'
