- if item.persisted?
  - item.images.each do |image|
    = image_tag(image.name.url(:dress_small))
    - unless image.main
      = link_to 'Сделать главным изображением', main_admin_image_path(image), data: { confirm: 'Вы уверены что хотите сделать эту картинку главной?' }
      |
    = link_to 'Удалить', admin_image_path(image), method: :delete, data: { confirm: 'Вы уверены?' }
