.contacts
  .contacts-left
    .contacts-left-item_title
      По электронной почте
    .contacts-left-item_body
      = mail_to 'tatiana-topaza@yandex.ru'
    .contacts-left-item_title
      По телефону
    .contacts-left-item_body
      8 (812) 272-55-84
    .contacts-left-item_title
      По адресу
    .contacts-left-item_body
      195267, Санкт-Петербург, ул. Белинского, д.1
    .contacts-button
      = link_to 'АДРЕСА РЕГИОНАЛЬНЫХ МАГАЗИНОВ', '#'
  .contacts-rigth
    = image_tag 'dress_for_contacts.png'
= render 'banners/show'