.sizes
  .sizes__page_title
    ТАБЛИЦА РАЗМЕРОВ
  .sizes__content
    .sizes__content__right
      .sizes__content__right__text
        Наши платья подойдут девушкам ростом около 170 см. Каждому размеру соответствует таблица точных параметров. Выбирайте платье с небольшим запасом и будьте готовы ушить его под свою фигуру.
      .sizes__content__right__img
        = image_tag asset_url('sizes.png')
    .sizes__content__left
      %table.sizes_table
        %thead
          %tr
            %td
            %td 44
            %td 46
            %td 48
            %td 50
            %td 52
        %tbody
          %tr.bold_table__row
            %td Обхват груди
            %td 88.0
            %td 92.0
            %td 96.0
            %td 100.0
            %td 104.0
          %tr.bold_table__row
            %td Обхват талии
            %td 66.0
            %td 70.0
            %td 74.0
            %td 78.0
            %td 82.0
          %tr.bold_table__row
            %td Обхват бедер
            %td 96.0
            %td 100.0
            %td 104.0
            %td 108.0
            %td 112.0
          %tr
            %td Обхват шеи
            %td 35.6
            %td 36.4
            %td 37.2
            %td 38.0
            %td 38.8
          %tr
            %td Ширина плеча
            %td 13.3
            %td 13.4
            %td 13.5
            %td 13.6
            %td 13.7
          %tr
            %td Длина рукава до запястья
            %td 57.0
            %td 57.5
            %td 57.5
            %td 58.0
            %td 58.0
          %tr
            %td Обхват плеча
            %td 27.3
            %td 28.7
            %td 30.1
            %td 31.5
            %td 32.9
          %tr
            %td Обхват над грудью
            %td 86.2
            %td 89.2
            %td 92.2
            %td 95.2
            %td 98.2
          %tr
            %td Обхват под грудью
            %td 76.0
            %td 79.4
            %td 82.8
            %td 86.2
            %td 89.6
          %tr
            %td Ширина груди
            %td 33.4
            %td 34.2
            %td 35.0
            %td 35.8
            %td 36.6
          %tr
            %td Ширина спины
            %td 34.6
            %td 35.6
            %td 36.6
            %td 37.6
            %td 38.6
          %tr
            %td Длина спины
            %td 43.9
            %td 44.0
            %td 44.1
            %td 44.2
            %td 44.3
          %tr
            %td Длина переда
            %td 44.2
            %td 44.8
            %td 45.4
            %td 46.0
            %td 46.6
          %tr
            %td Высота груди
            %td 25.0
            %td 25.7
            %td 26.5
            %td 27.3
            %td 28.0
          %tr
            %td
              Длина спереди
              %br (от талии до пола без каблука)
            %td 107.4
            %td 108.0
            %td 108.3
            %td 108.6
            %td 108.9
          %tr
            %td
              Длина сзади
              %br (от талии до пола без каблука)
            %td 110.0
            %td 110.2
            %td 110.4
            %td 110.6
            %td 110.8


    .clearfix
%br
