.thanks
  .thanks-left_image
    = image_tag 'dress_agra.png'
  .thanks-right_text
    .thanks-right_text-title
      СПАСИБО
      %br ЗА ПОКУПКУ!
    .thanks-right_text-line
    .thanks-right_text-body
      Наши менеджеры свяжутся с вами
      %br по указанному телефону, а о статусе заказа
      мы будем уведомлять вас по электронной почте.
= render '/partials/footer_contacts'