.thanks
  .thanks-left_image
    = image_tag 'dress_agra.png'
  .thanks-right_text
    .thanks-right_text-title
      СПАСИБО
      %br ЗА ПОКУПКУ!
    .thanks-right_text-line
    .thanks-right_text-body
      - case @order.payment_type_id
        - when  1
          На ваш электронный адрес придет
          %br подтверждающее письмо, а наши сотрудники
          свяжутся с вами по указанносу телефону, чтобы
          %br перепроверить детали отправки
        - else 2
          Счет-квитанция на оплату придет на вашу
          %br электронную почту #{@order.email}
= render '/partials/footer_contacts'
= render 'banners/show'