development:
  adapter: postgresql
  encoding: unicode
  database: topaza_dev
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: topaza_dev
  pool: 5
  username: postgres
  password:
