/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fonts
 *= require_tree ./css_folder
 */
html,body,div,span,h1,h2,h3,h4,b,u,i,s,em,form,fieldset,label,legend,input,button,textarea,a,p,table,caption,tbody,thead,tr,th,td, ul, li, ol{margin:0;padding:0;outline:none;}
table {border-collapse:collapse;border-spacing:0; font-size:inherit;font:100%;}
fieldset,img {border:0;}
caption,th,td{text-align:left; padding: 0 10px; }
/*ul,ol{list-style: none}*/
input,button,textarea,select,th,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/* global styles */
html, body {height:100%; color: #58595b;}
a, .jslink{color: blue}
a:hover, .jslink:hover{color: #F15A2A}
.jslink{text-decoration: underline; cursor: pointer}
.jslink:hover{text-decoration: none}
body{font: 13px Helvetica,sans-serif;background: #fff}
a{cursor: pointer}
.clearfix{
  clear: both;
}

h1 {font-size: 26px;}
h2 {font-size: 21px;}
h3 {font-size: 19px;}
h4 {font-size: 17px;}
h1, h2, h3, .normal {font-weight: normal;color: #333132;margin: 0 0 0.35em;line-height: 1em;}

#root_page{
  font-family: 'Oldsman';
}
html, body {
  height: 100%;
  min-width: 1024px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.main_container{
  position: relative;
  min-height:100%;
  padding-bottom: 70px;
}
.main_content{
  padding-bottom: 70px;
}

/*--------------header-----------------*/
.header{
  height: 60px;
  padding: 45px;
}
.header_container__logo{
  float: left;
}
.header_container__menu{
  float: right;
  line-height: 60px;
  a{
    margin-left: 40px;
    text-decoration: none;
    font-family: 'baufra';
    color:  #8b8b9f;
    font-size: 16px;
    &:hover{
      text-decoration: underline;
    }
  }
}
/*--------------end header-----------------*/

/*--------------footer-----------------*/
.footer{
  min-width: 800px;
  min-height: 70px;
  color: #8b8b9f;
  background-color: #EFEFF4;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer_container__title{
  margin-top: 30px;
  font-family: 'baufra';
  color:  #13131c;
  font-size: 25px;
  line-height: 30px;
}

.footer_container__underline{
  background-color: #a6a5ad;
  width: 250px;
  height: 1px;
  margin: 15px auto;
}

.footer_container__social_links {
  font-family: 'Oldsman';
  height: 70px;
  line-height: 70px;
  background-color: white;
  a {
    padding: 2%;
    color: #13131c;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
  }
}
.footer_contacts{
  height: 200px;
  padding: 5px 0 0;
  text-align: center;
  background-color:  #f5f5f7;
  font-family: 'baufra';
  color:  #13131c;
  font-size: 25px;
}
.footer_email{
  font-family: 'Open Sans';
  color:  #5f5d5d;
  font-size: 16px;
}

.body__discount{
  height: 175px;
  text-align: center;
  font-size: 30px;
  font-family: 'baufra';
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  overflow: hidden;
  position: relative;
  background-color: #f1edea;
  margin-top: -4px;
  margin-left: -2px;
}
.body__discount__title{
  margin: 0 auto;
  text-align: center;
}
.body__discount__title__years{
  margin: 10px auto;
  text-align: center;
  font-size: 28px;
  font-family: 'Oldsman';
}
.body__discount__title__years__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 11px;
  line-height: 25px;
  display: inline-block;
}
.body__discount__title__text{
  font-family: 'baufra';
  font-size: 28px;
  height: 65px;
  width: 680px;
  margin: 0 auto;
}
.body__discount__title__middle_line{
  background-color: #000;
  width: 70%;
  height: 1px;
  margin-left: 70px;
  line-height: 25px;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.body__discount__image-left{
  position: absolute;
  height: auto;
  left: -29px;
  width: 358px;
  img{
    max-width: 100%;
  }
}
.body__discount__image-right{
  position: absolute;
  height: auto;
  right: 0px;
  top: -76px;
  width: 317px;
  img{
    max-width: 100%;
  }

}
.index_discounts-item-right-link {
  text-align: center;
  a{
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'baufra';
    color:  #7c7c8a;
    font-size: 23.4px;
    border: 1px solid #7c7c8a;
    line-height: 50px;
    &:hover{
      color:  #13131c;
      border: 1px solid #13131c;
    }
  }
}
/*--------------END footer-----------------*/
