@font-face {
  font-family: 'baufra';
  src: url(/assets/Baufra/Baufra.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'baufra_medium';
  src: url(/assets/Baufra/Baufra-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oldsman';
  src: url(/assets/Oldsman-No_1/Oldsman-No.1.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(/assets/Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
